/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 31%;
		margin-left: -300px;
		width: 98%;
		background: white;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		
		
		
		#profolio-wrapps {

         width:800px;
		 height:auto;

}

.fullscontent {

       width:60%;
	   float:left;
	   

}

.fullscontent h1{
		font-family: Georgia;
		font-size: 19px;
		color: #47BC51 !important;


}


.sidebar-portfolios {

		
		float: right;
		margin: 104px -55px 12px;
		padding: 10px;
		width: 30%;

}

.sidebar-portfolios p{
        font-family: Georgia;
		color: #000;
		font-size: 13px;


}

.sidebar-portfolios h3{
    font-family: Georgia;
    color: rgb(255, 255, 255) !important;
    font-size: 13px;
    border: 3px solid rgb(6, 5, 5) !important;
    background-color: rgb(0, 0, 0);
    box-shadow: -2px -1px 5px 6px rgb(212, 209, 214);
}


}

















	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
